.git
.github
.editorconfig
.phpunit.result.cache
.php-cs-fixer.cache
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.backup
.env.production
tests
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
public/storage
public/hot
docker-compose*.yml
README.md
